*{
    margin: 0;
    padding: 0;
}
.istanbul{
    text-align: center;
}
.istanbul h1{
font-size: xxx-large;
}
p{
     font-size: xx-large;
    font-weight: 400;
}
.istanbul li{
       font-size: xx-large;
    font-weight: 600;
}
.img :hover{
 border: 10px solid transparent;
    background: scroll;
    transition: 3s;
}
