*{
    margin: 0%;
    padding: 0%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/technology-communication-icons-symbols-concept.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px; 
}
.nav-links{
    flex: 1;
    text-align: right;
   
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: darkgray;
    display: block;
    margin: auto;
    transition: 1s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 40px;
    color: #fff;

}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #fff;
    background: darkgrey;
    transition: 1s;
}
nav .fa{
    display: none;
}
 @media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
         position: absolute;
         background: #060504;
         height: 100vh;
         width: -200px;
         top: 0;
         right: 0;
         text-align: left;
         z-index: 2;
         transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
 }
 
 .blog{
    width: 80%;
     margin: auto;
    text-align: center;
    padding-top: 30px;
   
 }
 h1{
    font-size: 36px;
    font-weight: 600;
 }
 p{
    color: #0d0808;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    padding: 15px;
 }
  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  } 
  .blog-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
  }
  h3{
    font-size: xx-large;
    text-align: center;
    font-weight: 600;
  }
 .blog-col :hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
 }
 @media(max-width: 700px){
     .row{
        flex-direction: column;
     }
 }
.campus-col img{
     width: 30%;
     border-radius: 10px;
    margin-bottom: 30px;
    text-align: justify;
    position: relative;
}
.campus-col :hover{
     border: 1px solid #fff;
    background: transparent
    transition: 1s;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/technology-communication-icons-symbols-concept.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0%;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
  .footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    font-size: xx-large;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icne:hover{
     border: 10px solid darkgray;
    background: scroll;
    transition: 3s;
}








